@import url('https://fonts.googleapis.com/css?family=Faster+One');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Lobster');


body {
    background: linear-gradient(to right , #5cb2b9 ,#6c8493 );
    padding: 0;
    margin: 0;

}

nav {
    width: 100%;
   
}

nav ul {
    background: linear-gradient(to right, #3bcbaf, #f7d76c);
    opacity: .9;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 50px;
}

.navbar {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: inline-block;
    

}

.navbar a {
    font-family: 'Faster One', cursive;
    font-size: 30px;
    text-align: center;
    display: block;
    color: #000;
    padding: 9px;
    text-align: center;
    
    text-decoration: none;
}

.navbar a:hover {
    background-color: salmon;
    color:darkblue;
        transition: all .3s 

}
#right{
    position: absolute;
    right: 1px;
    top: 0;
}
.about-section {
    background: linear-gradient(to left , #d486d4,#edb388);
    position: relative;
    top: 60px;
    width: 70%;
    height: 300px;
    margin: auto;
    box-shadow: -2px 10px 13px;
    padding: 10px;
    overflow: auto;
    
}



.about-section h1 {
    font-family: 'Indie Flower', cursive;
    text-shadow: 2px 2px 11px #7449db;

}

.about-section p {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-style: italic;
    text-shadow: 2px 1px 3px #3bcbaf;
    font-size: 20px;
}