@import url('https://fonts.googleapis.com/css?family=Faster+One');
body {
    background-color: floralwhite;
    padding: 0;
    margin: 0;

}

nav {
    width: 100%;
   
}

nav ul {
    background: linear-gradient(to right, #3bcbaf, #f7d76c);
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 50px;
}

.navbar {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: inline-block;
    

}

.navbar a {
    font-family: 'Faster One', cursive;
    font-size: 30px;
    text-align: center;
    display: block;
    color: #000;
    padding: 9px;
    text-align: center;
    
    text-decoration: none;
}

.navbar a:hover {
    background-color: salmon;
    color:darkblue;
        transition: all .3s 

}
#right{
    position: absolute;
    right: 1px;
    top: 0;
}