<!doctype html>
<html lang="en">

<head>
    <title>About Page</title>
    <link rel="stylesheet" href="{{url_for('static',filename ='css/about.css')}}">
    <link rel="icon" href="{{url_for('static', filename = 'img/Favicon.png')}}">

</head>

<body>
    <nav>
        <ul>
            <li class="navbar"><a href="{{ url_for('index') }}">Home</a></li>
            <li class="navbar"><a href="{{url_for('about')}}" id="right">About</a></li>
        </ul>
    </nav>

    <main class="about-section">
        <div class="container">
            <h1>This is my first Website </h1>
            <p> My name is Mostafa Kamal , I'm 17 years old , I've learnt HTML CSS and Python So I want to develop myself by making some Websites for me and It's open source Thanks for all that like this basic website and  help me

            </p>


        </div>


    </main>


</body>

</html>
