{% extends "layout.html" %} {% block title %} Mother's Day {% endblock %} {% block content %}
<nav>
    <ul>
        <li class="navbar"><a href="{{ url_for('index') }}">Home</a></li>
        <li class="navbar"><a href="{{url_for('about')}}" id="right">About</a></li>
    </ul>
</nav>


{% endblock %}
