<!doctype html>
<html>

<head>
    <title>{% block title %} {% endblock %}</title>
  {% block links %}  <link href = "{{ url_for('static', filename='css/index.css') }}" type="text/css" rel="stylesheet">
  <link rel="icon" href="{{url_for('static', filename = 'img/Favicon.png')}}">
  {% endblock %}
</head>

<body>
    {% block content %} {% endblock %}

</body>

</html>
